# Framework Base de Agentes
crewai
crewai[tools]

# LLM e Orquestração
langchain-groq
python-dotenv

# Interface Visual (Módulo 6)
streamlit

# Ferramentas de Infra e Segurança
checkov
kubernetes

# Utilitários de Dados
pandas
numpy

litellm